{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="../../static/user/css/auth_form.css">

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form method="POST" action="">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Sign up</label>
            {% for field in form %}
            {{ field }}
            {% endfor %}
            <button id="signup" type="submit">Sign up</button>
        </form>
        {{form.errors}}
    </div>


    <div class="login">
        <form>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button>Login</button>
        </form>
    </div>
</div>
{% endblock %}