{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{% static 'banks/css/bank_info.css' %}">
</head>
<div class="container">
  {% if banks %}
   <ul class="cards">
      {% for bank in banks %}
     <li>
      <a href="" class="card">
        {% if bank.bank_avatar %}
                <img src="../images/test.png" class="card__image" alt="" />
              {% else %}
                <img src="{% static 'banks/img/nonePhoto.jpg' %}" class="card__image" alt="Default Image" />
          {% endif %}
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Bank: {{bank.bank_name}}</h3>
              <span class="card__status">Founder:{{bank.bank_founder_name}} {{bank.bank_founder_surname}}</span>
            </div>
          </div>
          <p class="card__description">Bank city: {{bank.bank_city}} <br>Bank birthday: <br>{{bank.bank_found_date}}</p>
        </div>
      </a>
      </li>
      {% endfor %}
     </ul>
  {% else %}
    <p>No banks available.</p>
  {% endif %}
</div>
{% endblock %}
