{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/sidebar.css' %}">
	<script src="https://kit.fontawesome.com/7a95604c3a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="main-menu">
    <div class="settings"></div>
    <div class="scrollbar" id="style-1">
      <ul>
        <li>
          <a href="{% url 'main_page' %}">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>
          <li>
          <a href="{% url 'banks' %}">
            <i class="fa fa-building-columns fa-lg"></i>
            <span class="nav-text">Banks</span>
          </a>
        </li>
        <li>
          <a href="{% url 'create_bank' %}">
            <i class="fa fa-user fa-lg"></i>
            <span class="nav-text">Add Bank</span>
          </a>
        </li>
        <li class="darkerlishadow">
          <a href="{% url 'auth' %}">
           <i class="fa fa-solid fa-arrow-right-from-bracket fa-lg"></i>
            <span class="nav-text">Log in</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
<main>
	<div>
        {% block content %}
    {% endblock %}
    </div>
</main>

</body>
</html>